{% extends 'store/main.html' %} {% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
{% block content %}

<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form>
        <div id="user-info">
          <div class="form-field">
            <input
              class="form-control"
              name="name"
              placeholder="Name.."
              required=""
              type="text"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              name="email"
              placeholder="Email.."
              required=""
              type="email"
            />
          </div>
        </div>
        <div id="shipping-info">
          <hr />
          <p>Shipping Information:</p>
          <hr />
          <div class="form-field">
            <input
              class="form-control"
              name="address"
              placeholder="Address.."
              type="text"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              name="city"
              placeholder="City.."
              type="text"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              name="state"
              placeholder="State.."
              type="text"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              name="zipcode"
              placeholder="Zip code.."
              type="text"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              name="country"
              placeholder="country"
              type="text"
            />
          </div>
          <hr />
          <input
            class="btn btn-success btn-block"
            id="form-button"
            type="submit"
            value="Continue"
          />
        </div>
      </form>
    </div>
    <br />
    <div class="box-element hidden" id="payment-info">
      <small> Paypal Options </small>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="{% url 'cart' %}">
        ← Back to Cart
      </a>
      <hr />
      <h3>Order Summary</h3>
      <hr />
      {% for item in items %}
      <div class="cart-row">
        <div style="flex: 2">
          <img class="row-image" src="{{item.product.imageUrl}}" />
        </div>
        <div style="flex: 2">
          <p>{{item.product.name}}</p>
        </div>
        <div style="flex: 1">
          <p>${{item.product.price}}</p>
        </div>
        <div style="flex: 1">
          <p>x{{item.quantity}}</p>
        </div>
      </div>
      {% endfor %}
      <h5>Items: {{order.get_cart_item}}</h5>
      <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
    </div>
  </div>
  <script type="text/javascript">
    var shipping = "{{order.shipping}}";
    if (shipping == "False") {
      document.getElementById("shipping-info").innerHTML = "";
    }
  </script>
  {% endblock content %}
</div>
